In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window

spark = SparkSession.builder.appName("Day2").getOrCreate()


data = [
    ("Electronics", "Laptop", 1200),
    ("Electronics", "Phone", 900),
    ("Electronics", "Tablet", 700),
    ("Clothing", "Shirt", 400),
    ("Clothing", "Jeans", 600),
    ("Clothing", "Jacket", 800),
]
columns = ["category", "product", "sales"]

df = spark.createDataFrame(data, columns)

windowSpec = Window.partitionBy("category").orderBy(col("sales").desc())

ranked_df = df.withColumn("rank", row_number().over(windowSpec))

result = ranked_df.filter(col("rank") <= 2).drop("rank")

result.show()

+-----------+-------+-----+
|   category|product|sales|
+-----------+-------+-----+
|   Clothing| Jacket|  800|
|   Clothing|  Jeans|  600|
|Electronics| Laptop| 1200|
|Electronics|  Phone|  900|
+-----------+-------+-----+

In [ ]:
"""
SELECT
    user_id,
    txn_date,
    amount,
    SUM(amount) OVER (
        PARTITION BY user_id
        ORDER BY txn_date
        ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
    ) AS running_balance
FROM transactions
ORDER BY user_id, txn_date;
"""