In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import functions as F
from pyspark.sql.window import Window
import pandas as pd
import datetime

spark = SparkSession.builder.appName("myApp").getOrCreate()

In [2]:
data = [
    ("2025-01-01", "T1", 100),
    ("2025-01-01", "T2", 200),
    ("2025-01-01", "T3", 500),
    ("2025-01-02", "T4", 300),
    ("2025-01-02", "T5", 400),
    ("2025-01-02", "T6", 600),
]

columns = ["txn_date", "txn_id", "amount"]

df = spark.createDataFrame(data, columns)

daily_avg = df.groupBy("txn_date").agg(avg("amount").alias("avg_amount"))

df_with_avg = df.join(daily_avg, on="txn_date", how="inner")

df_outliers = df_with_avg.filter(col("amount") > col("avg_amount")) \
                      .select("txn_date", "txn_id", "amount")

df_outliers.show()

+----------+------+------+
|  txn_date|txn_id|amount|
+----------+------+------+
|2025-01-01|    T3|   500|
|2025-01-02|    T6|   600|
+----------+------+------+

In [ ]:
"""
SELECT emp_id
FROM employee_manager
GROUP BY emp_id
HAVING COUNT(DISTINCT manager_id) = 1;
"""