In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql import functions as F
from pyspark.sql.window import Window
import pandas as pd
import datetime

spark = SparkSession.builder.appName("myApp").getOrCreate()

In [2]:
data = [
    ("Laptop", 1200),
    ("Phone", 800),
    ("Tablet", 500),
    ("Desktop", 500)
]

columns = ["product", "sales"]

df = spark.createDataFrame(data, columns)

total_sales = df.agg(sum("sales").alias("total")).collect()[0]["total"]

df_with_pct = df.withColumn(
    "percentage_contribution",
    round((col("sales") / total_sales) * 100, 1)
)

df_with_pct.show()

+-------+-----+-----------------------+
|product|sales|percentage_contribution|
+-------+-----+-----------------------+
| Laptop| 1200|                   40.0|
|  Phone|  800|                   26.7|
| Tablet|  500|                   16.7|
|Desktop|  500|                   16.7|
+-------+-----+-----------------------+

In [ ]:
"""
SELECT m.month AS missing_month
FROM (
    SELECT '2025-01' AS month UNION ALL
    SELECT '2025-02' UNION ALL
    SELECT '2025-03' UNION ALL
    SELECT '2025-04' UNION ALL
    SELECT '2025-05' UNION ALL
    SELECT '2025-06' UNION ALL
    SELECT '2025-07' UNION ALL
    SELECT '2025-08' UNION ALL
    SELECT '2025-09' UNION ALL
    SELECT '2025-10' UNION ALL
    SELECT '2025-11' UNION ALL
    SELECT '2025-12'
) m
LEFT JOIN (
    SELECT DISTINCT DATE_FORMAT(txn_date, '%Y-%m') AS month
    FROM transactions
    WHERE YEAR(txn_date) = 2025
) t
  ON m.month = t.month
WHERE t.month IS NULL
ORDER BY m.month;
"""