In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import col, rank


spark = SparkSession.builder.appName("EmployeeRank").getOrCreate()


data = [
    (1, "HR", 60000),
    (2, "HR", 75000),
    (3, "HR", 50000),
    (4, "IT", 90000),
    (5, "IT", 85000)
]

columns = ["emp_id", "dept", "salary"]
df = spark.createDataFrame(data, columns)

windowSpec = Window.partitionBy("dept").orderBy(col("salary").desc())
ranked_df = df.withColumn("rank", rank().over(windowSpec))

ranked_df.show()

+------+----+------+----+
|emp_id|dept|salary|rank|
+------+----+------+----+
|     2|  HR| 75000|   1|
|     1|  HR| 60000|   2|
|     3|  HR| 50000|   3|
|     4|  IT| 90000|   1|
|     5|  IT| 85000|   2|
+------+----+------+----+

In [ ]:
"""
SELECT product_id
FROM product_sales
WHERE sale_date BETWEEN '2025-01-01' AND '2025-12-31'
GROUP BY product_id
HAVING COUNT(DISTINCT MONTH(sale_date)) = 12;
"""