In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql import functions as F

spark = SparkSession.builder.appName("RollingAvg").getOrCreate()

data = [
    ("2025-01-01", 100),
    ("2025-01-02", 200),
    ("2025-01-03", 300),
    ("2025-01-04", 400),
    ("2025-01-05", 500)
]
columns = ["sale_date", "sales"]

df = spark.createDataFrame(data, columns)
w = Window.orderBy("sale_date").rowsBetween(-2, 0)
df = df.withColumn("rolling_3_day_avg", F.avg("sales").over(w))

df.show()

+----------+-----+-----------------+
| sale_date|sales|rolling_3_day_avg|
+----------+-----+-----------------+
|2025-01-01|  100|            100.0|
|2025-01-02|  200|            150.0|
|2025-01-03|  300|            200.0|
|2025-01-04|  400|            300.0|
|2025-01-05|  500|            400.0|
+----------+-----+-----------------+

In [ ]:
"""
SELECT customer_id
FROM (
    SELECT
        customer_id,
        purchase_date,
        amount,
        LAG(amount) OVER (PARTITION BY customer_id ORDER BY purchase_date) AS prev_amount
    FROM purchases
) t
GROUP BY customer_id
HAVING MIN(CASE WHEN prev_amount IS NOT NULL AND amount <= prev_amount THEN 0 ELSE 1 END) = 1;
"""